.card{
    margin: 10px;
    margin-left: 10px;
    height: 650px;
}

.card:hover{
    background-color: #9ca3af;
}

.all{
    background-color: #d1d5db;
    justify-content: center;
    align-items: center;
}

.card-img{
    height: 300px;
}